html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
}

.row-posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  padding: 20px;
}

.row-poster {
  max-height: 250px;
  width: 100%;
  object-fit: contain;
  margin-right: 20px;
  transition: transform 450ms;
}

.backdrop {
  max-height: 150px;
}
.row-poster:hover {
  transform: scale(1.08);
}

.row-posters::-webkit-scrollbar {
  visibility: hidden;
}

.title {
  color: white;
}

.App {
  background: black;
}
